<!-- <mat-toolbar fxLayout="row" color="primary"> -->
<mat-toolbar class="main-nav" fxLayout="row" color="primary">
    <span class="myname" fxFlex>Ahmed Rashad</span>
    <button mat-button *ngFor="let item of menuItems" [fxShow]="item.showOnDesktop" [fxShow.xs]="item.showOnMobile"
        [fxShow.sm]="item.showOnTablet">
        <mat-icon class="mr">{{item.icon}}</mat-icon>

        <a [routerLink]=item.label routerLinkActive="active"> {{item.label}}</a>

    </button>
    <ng-container>

        <button class="btn-icon" mat-icon-button [matMenuTriggerFor]="dropMenu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #dropMenu="matMenu" class="custom-menu">

            <ng-container *ngFor="let item of menuItems" >
                <div [fxShow]="!item.showOnDesktop" [fxShow.sm]="!item.showOnTablet" [fxShow.xs]="!item.showOnMobile">

                    <button mat-menu-item>
                        <mat-icon class="mr">{{item.icon}}</mat-icon>
                        <a [routerLink]=item.label> {{item.label}}</a>
                    </button>

                    <mat-divider></mat-divider>
                </div>
            </ng-container>
        </mat-menu>

    </ng-container>
</mat-toolbar>