<section class="container-fluid cert">
  <h2 class="work-des">
    I Have <span style="color: #c21b2e">Eight</span> Verified Certificates in
    Computer Science and Multiple of Different Programming Languages From
    Harvard University
  </h2>

  <div class="harvard-logo">
    <img src="assets/Harvard-Logo.png" />
  </div>
</section>
<!-- certificates -->

<section
  class="all-certificates container-fluid m-2"
  data-aos="zoom-in-down"
  data-aos-duration="1500"
>
  <div class="zoo">
    <h1 class="work-des">
      CS50x, Issued on March 6, <span style="color: #c21b2e">2022</span>
    </h1>

    <lib-ngx-image-zoom
      thumbImage="assets/CS50x.png"
      fullImage="assets/CS50x.png"
      [magnification]="1.5"
      [enableScrollZoom]="true"
      [enableLens]="true"
      [lensWidth]="230"
      [lensHeight]="140"
    ></lib-ngx-image-zoom>
  </div>
</section>
<hr />
<section
  class="all-certificates container-fluid m-2"
  data-aos="fade-up"
  data-aos-duration="1500"
>
  <div class="zoo">
    <h1 class="work-des">
      CS50W, Issued on August 9, <span style="color: #c21b2e">2022</span>
    </h1>

    <lib-ngx-image-zoom
      thumbImage="assets/CS50W.png"
      fullImage="assets/CS50W.png"
      [magnification]="1.5"
      [enableScrollZoom]="true"
      [enableLens]="true"
      [lensWidth]="230"
      [lensHeight]="140"
    ></lib-ngx-image-zoom>
  </div>
</section>
<hr />
<section
  class="all-certificates container-fluid m-2"
  data-aos="fade-up"
  data-aos-duration="1500"
>
  <div class="zoo">
    <h1 class="work-des">
      CS50P, Issued on January 29, <span style="color: #c21b2e">2023</span>
    </h1>

    <lib-ngx-image-zoom
      thumbImage="assets/CS50P.png"
      fullImage="assets/CS50P.png"
      [magnification]="1.5"
      [enableScrollZoom]="true"
      [enableLens]="true"
      [lensWidth]="230"
      [lensHeight]="140"
    ></lib-ngx-image-zoom>
  </div>
</section>

<hr />
<section
  class="all-certificates container-fluid m-2"
  data-aos="fade-up"
  data-aos-duration="1500"
>
  <div class="zoo">
    <h1 class="work-des">
      Professional Certificate in Computer Science for Web Programming Issued
      August <span style="color: #c21b2e">2022</span>
    </h1>

    <lib-ngx-image-zoom
      thumbImage="assets/Professional Certificate _ edX Credentialscs.jpg"
      fullImage="assets/Professional Certificate _ edX Credentialscs.jpg"
      [magnification]="1.5"
      [enableScrollZoom]="true"
      [enableLens]="true"
      [lensWidth]="230"
      [lensHeight]="140"
    ></lib-ngx-image-zoom>
  </div>
</section>

<hr />
<section
  class="all-certificates container-fluid m-2"
  data-aos="fade-up"
  data-aos-duration="1500"
>
  <div class="zoo">
    <h1 class="work-des">
      Professional Certificate in Computer Science for Python Programming Issued
      February <span style="color: #c21b2e">2023</span>
    </h1>

    <lib-ngx-image-zoom
      thumbImage="assets/Professional Certificate _ edX Credentials.jpg"
      fullImage="assets/Professional Certificate _ edX Credentials.jpg"
      [magnification]="1.5"
      [enableScrollZoom]="true"
      [enableLens]="true"
      [lensWidth]="230"
      [lensHeight]="140"
    ></lib-ngx-image-zoom>
  </div>
</section>

<hr />
<section
  class="all-certificates container-fluid m-2"
  data-aos="fade-up"
  data-aos-duration="1500"
>
  <div class="zoo">
    <h1 class="work-des">
      CS50x: CS50's Introduction to Computer Science Issued March 11,
      <span style="color: #c21b2e">2022</span>
    </h1>

    <lib-ngx-image-zoom
      thumbImage="assets/HarvardX CS50x Certificate _ edX.jpg"
      fullImage="assets/HarvardX CS50x Certificate _ edX.jpg"
      [magnification]="1.5"
      [enableScrollZoom]="true"
      [enableLens]="true"
      [lensWidth]="230"
      [lensHeight]="140"
    ></lib-ngx-image-zoom>
  </div>
</section>

<hr />
<section
  class="all-certificates container-fluid m-2"
  data-aos="fade-up"
  data-aos-duration="1500"
>
  <div class="zoo">
    <h1 class="work-des">
      CS50W : CS50's Web Programming with Python and JavaScript Issued August
      12, <span style="color: #c21b2e">2022</span>
    </h1>

    <lib-ngx-image-zoom
      thumbImage="assets/HarvardX CS50W Certificate _ edX.jpg"
      fullImage="assets/HarvardX CS50W Certificate _ edX.jpg"
      [magnification]="1.5"
      [enableScrollZoom]="true"
      [enableLens]="true"
      [lensWidth]="230"
      [lensHeight]="140"
    ></lib-ngx-image-zoom>
  </div>
</section>

<hr />
<section
  class="all-certificates container-fluid m-2"
  data-aos="fade-up"
  data-aos-duration="1500"
>
  <div class="zoo">
    <h1 class="work-des">
      CS50P : CS50's Introduction to Programming with Python Issued February 16,
      <span style="color: #c21b2e">2023</span>
    </h1>

    <lib-ngx-image-zoom
      thumbImage="assets/HarvardX CS50P Certificate _ edX.jpg"
      fullImage="assets/HarvardX CS50P Certificate _ edX.jpg"
      [magnification]="1.5"
      [enableScrollZoom]="true"
      [enableLens]="true"
      [lensWidth]="230"
      [lensHeight]="140"
    ></lib-ngx-image-zoom>
  </div>
</section>
