
<section >

<div class="myImage">
    <div><img src="assets/cc.jpg"/></div>

   <!-- <h2 class="animate__animated animate__zoomIn job">Software Engineer</h2> -->

    <ngx-typed-js class="mt-3" [strings]="['Software Engineer']" [shuffle]="true" [typeSpeed]="80" [showCursor]="false">
        <span class="typing job"></span>
      </ngx-typed-js>

</div>

</section>


<!-- Second Section -->
<!-- <div class="f-img container-fluid" data-aos="zoom-in-left" data-aos-duration="1500"> -->
  <div class="f-img container-fluid" >
    <img src="assets/test2.png"/>
  </div>
  <!--End Of Second Section -->

  <div class="container">
    <h2 class="work-des">Hello, I Develop Desktop Applications, Android Developer and Websites, Frontend, Backend and DevOps</h2>
  </div>

  <!-- Third Section -->
  <div class='container1'>
    <div class='item'>
      <div class='item__image'>
        <div class='image-switch__outer'>
          <div class='image-switch__inner'>
            <img src='assets/android.jpg'>
          </div>
        </div>
      </div>
      <div class='item__description'>
        <div class='description-switch__outer'>
          <div class='description-switch__inner'>
            <!-- <a href='https://www.nytimes.com/2017/02/16/automobiles/headlights-get-new-attention-as-more-than-a-car-design-flourish.html' target='_blank'> -->
              <h2>Android Developer</h2>
              <div class='item__action-arrow'>
                <i class='far fa-arrow-alt-circle-right'></i>
              </div>
            <!-- </a> -->
          </div>
        </div>
      </div>
      <div class='flap level0'>
        <div class='flap level1 flip-right'>
          <div class='flap level2 flip-down'>
            <div class='flap level3 flip-left'></div>
            <div class='flap level3 flip-right'>
              <div class='flap level4 flip-up'>
                <div class='flap level5 flip-right'>
                  <div class='flap level6 flip-left'></div>
                </div>
              </div>
            </div>
          </div>
          <div class='flap level2 flip-up'>
            <div class='flap level3 flip-left'>
              <div class='flap level4 flip-up'></div>
              <div class='flap level5 flip-down'>
                <div class='flap level6 flip-left'>
                  <div class='flap level7 flip-up'>
                    <div class='flap level8 flip-left'></div>
                    <div class='flap level8 flip-right'></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='flap level1 flip-left'>
          <div class='flap level2 flip-up'>
            <div class='flap level3 flip-left'>
              <div class='flap level4 flip-down'>
                <div class='flap level5 flip-left'>
                  <div class='flap level6 flip-right'>
                    <div class='flap level7 flip-up'>
                      <div class='flap level8--alt flip-right'></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='flap level2 flip-down'>
            <div class='flap level3 flip-right'>
              <div class='flap level4 flip-down'>
                <div class='flap level5 flip-up'></div>
              </div>
              <div class='flap level5 flip-up'>
                <div class='flap level6 flip-right'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='item__hover-icon'>
        <div class='icon-switch__outer'>
          <div class='icon-switch__inner'>
            <i class='fas fa-lightbulb'></i>
          </div>
        </div>
      </div>
    </div>
    <div class='item'>
      <div class='item__image'>
        <div class='image-switch__outer'>
          <div class='image-switch__inner'>
            <img src='assets/web.jpg'>
          </div>
        </div>
      </div>
      <div class='item__description'>
        <div class='description-switch__outer'>
          <div class='description-switch__inner'>
            <!-- <a href='https://www.designboom.com/design/konstantin-grcic-smart-mobile-disco-car-concept-mercedes-benz-04-18-2018/' target='_blank'> -->
              <h2>Full Stack Developer</h2>
              <div class='item__action-arrow'>
                <i class='far fa-arrow-alt-circle-right'></i>
              </div>
            <!-- </a> -->
          </div>
        </div>
      </div>
      <div class='flap level0'>
        <div class='flap level1 flip-right'>
          <div class='flap level2 flip-down'>
            <div class='flap level3 flip-left'></div>
            <div class='flap level3 flip-right'>
              <div class='flap level4 flip-up'>
                <div class='flap level5 flip-right'>
                  <div class='flap level6 flip-left'></div>
                </div>
              </div>
            </div>
          </div>
          <div class='flap level2 flip-up'>
            <div class='flap level3 flip-left'>
              <div class='flap level4 flip-up'></div>
              <div class='flap level5 flip-down'>
                <div class='flap level6 flip-left'>
                  <div class='flap level7 flip-up'>
                    <div class='flap level8 flip-left'></div>
                    <div class='flap level8 flip-right'></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='flap level1 flip-left'>
          <div class='flap level2 flip-up'>
            <div class='flap level3 flip-left'>
              <div class='flap level4 flip-down'>
                <div class='flap level5 flip-left'>
                  <div class='flap level6 flip-right'>
                    <div class='flap level7 flip-up'>
                      <div class='flap level8--alt flip-right'></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='flap level2 flip-down'>
            <div class='flap level3 flip-right'>
              <div class='flap level4 flip-down'>
                <div class='flap level5 flip-up'></div>
              </div>
              <div class='flap level5 flip-up'>
                <div class='flap level6 flip-right'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='item__hover-icon'>
        <div class='icon-switch__outer'>
          <div class='icon-switch__inner'>
            <i class='fas fa-car'></i>
          </div>
        </div>
      </div>
    </div>
    <div class='item'>
      <div class='item__image'>
        <div class='image-switch__outer'>
          <div class='image-switch__inner'>
            <img src='assets/Desktop.jpg'>
          </div>
        </div>
      </div>
      <div class='item__description'>
        <div class='description-switch__outer'>
          <div class='description-switch__inner'>
            <!-- <a href='https://www.pinterest.com/taketentire/bugs/' target='_blank'> -->
              <h2>Desktop Programmer</h2>
              <div class='item__action-arrow'>
                <i class='far fa-arrow-alt-circle-right'></i>
              </div>
            <!-- </a> -->
          </div>
        </div>
      </div>
      <div class='flap level0'>
        <div class='flap level1 flip-right'>
          <div class='flap level2 flip-down'>
            <div class='flap level3 flip-left'></div>
            <div class='flap level3 flip-right'>
              <div class='flap level4 flip-up'>
                <div class='flap level5 flip-right'>
                  <div class='flap level6 flip-left'></div>
                </div>
              </div>
            </div>
          </div>
          <div class='flap level2 flip-up'>
            <div class='flap level3 flip-left'>
              <div class='flap level4 flip-up'></div>
              <div class='flap level5 flip-down'>
                <div class='flap level6 flip-left'>
                  <div class='flap level7 flip-up'>
                    <div class='flap level8 flip-left'></div>
                    <div class='flap level8 flip-right'></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='flap level1 flip-left'>
          <div class='flap level2 flip-up'>
            <div class='flap level3 flip-left'>
              <div class='flap level4 flip-down'>
                <div class='flap level5 flip-left'>
                  <div class='flap level6 flip-right'>
                    <div class='flap level7 flip-up'>
                      <div class='flap level8--alt flip-right'></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='flap level2 flip-down'>
            <div class='flap level3 flip-right'>
              <div class='flap level4 flip-down'>
                <div class='flap level5 flip-up'></div>
              </div>
              <div class='flap level5 flip-up'>
                <div class='flap level6 flip-right'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='item__hover-icon'>
        <div class='icon-switch__outer'>
          <div class='icon-switch__inner'>
            <i class='fas fa-bug'></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End Third Section -->
<!-- Fourth Section -->
<section class="container my-skills">
  <h2 class="skl">Skills</h2>
 <div class="prog-languages" data-aos="zoom-in-down" data-aos-duration="1700">

  <div title="HTML5" class="lan-logo"><img src="assets/html5.png"/></div>
  <div title="CSS5" class="lan-logo"><img src="assets/css.png"/></div>
  <div title="Bootstrap" class="lan-logo"><img src="assets/bootstrap.png"/></div>
  <div title="JavaScript" class="lan-logo"><img src="assets/java-script.png"/></div>
  <div title="TypeScript" class="lan-logo"><img src="assets/typescript.png"/></div>
  <div title="React JS" class="lan-logo"><img src="assets/react.png"/></div>
  <div title="Angular" class="lan-logo"><img src="assets/ANGULAR.png"/></div>
  <div title="Python" class="lan-logo"><img src="assets/python.png"/></div>
  <div title="Django Framework" class="lan-logo"><img src="assets/django.png"/></div>
  <div title="Django Rest Framework" class="lan-logo"><img src="assets/rest2.png"/></div>
  <div title="Java" class="lan-logo"><img src="assets/java.png"/></div>
  <div title="JavaFX" class="lan-logo"><img src="assets/javafx.png"/></div>
  <div title="Kotlin" class="lan-logo"><img src="assets/kotlin.png"/></div>
  <div title="Oracle" class="lan-logo"><img src="assets/oracle.png"/></div>
  <div title="MySQL" class="lan-logo"><img src="assets/mysql.png"/></div>
  <div title="PostgreSQL" class="lan-logo"><img src="assets/postgresql.png"/></div>
  <div title="SQLite" class="lan-logo"><img src="assets/sqlite.jfif"/></div>
  <div title="Firebase" class="lan-logo"><img src="assets/firebase.png"/></div>
  <div title="CyberPanel" class="lan-logo"><img src="assets/cyberpanel.png"/></div>
  <div title="VS Code" class="lan-logo"><img src="assets/vscode.png"/></div>
  <div title="Netbeans IDE" class="lan-logo"><img src="assets/netbeans.png"/></div>
  <div title="Android IDE" class="lan-logo"><img src="assets/android.jfif"/></div>
  <div title="Ubuntu" class="lan-logo"><img src="assets/ubuntu.png"/></div>
  <div title="CentOS" class="lan-logo"><img src="assets/centos.png"/></div>
  <div title="DevOps" class="lan-logo"><img src="assets/d.png"/></div>



 </div>

 <div class="ide">

 </div>
</section>
<!-- End Of Fourth Section -->





